.button {
    margin: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 2rem; 
    font-weight: 700; 
    color: #ffffff; 
    background-color: var(--primary-color); 
}

.button:hover {
    background-color: var(--secondary-color); 
    font-weight: 800;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}