.departureList {
  display: flex;
  flex-direction: column;
  
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.button:disabled {
    background-color: #ee8484;
    cursor: not-allowed;
    pointer-events: none;
}