.departureCard {
    display: flex;
    flex-direction: row;
    position:relative;
    margin-bottom: 1rem;
    border-radius: 0.7rem;
    box-shadow: 0 1px 3px 0 rgb(0,0,0,0.1), 0 1px 2px 0 rgb(0,0,0,0.06);
    background-color: white;
}

.cardPrice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.5rem 1rem 0.5rem;
    margin-left: 1rem;
    border-radius: 0rem 0.4rem 0.4rem 0rem;
    border-left: 1px solid rgb(0,0,0,0.1);
    background-color: none;
    color: var(--primary-color);
    font-size: large;
    font-weight: 800;
}

.departureCard:hover, .selectedCard {
    border: 2px solid var(--primary-color);

    .cardPrice{
        background-color: var(--primary-color);
        color: white;
        font-weight: 700;
    }

    .nightDeparture {
        background-color: rgb(14, 46, 84);
        color: white;
    }
}

.travelInfo {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .duration {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;

        font-weight: 600;
        font-size: 1.2rem;
    }
}

.nightDeparture {
    position:absolute;
    top: 0;
    transform: translate(-50%,-30%);
    right: -6.2%;
    padding: 0 0.5rem 0 0.5rem;
    font-weight: 600;
    border-radius: 9999px;
    border: 2px solid rgb(14, 46, 84);
    width: min-content;
    background-color: rgb(14, 46, 84);
    color: white;
    box-shadow: 0 1px 3px 0 rgb(0,0,0,0.1), 0 1px 2px 0 rgb(0,0,0,0.06);
}