.form {
    display: flex; 
    flex-direction: row; 
    gap: 1rem; 
    align-items: center;
}

.formDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.selectOptions {
    min-width: 200px;
    white-space: normal;
    padding: 0.5rem;
    font-size: 1rem;
}