.form {
    display: flex; 
    flex-direction:row; 
    gap: 1.5rem; 
}

.formDiv {
    padding: 2rem;
    border-radius: 1rem;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
}